# Dependencies
node_modules/
.pnp
.pnp.js

# Build & Output
dist/
build/
*.apk
*.aab
*.ipa

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ephemeral/

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
serviceAccountKey.json

# IDE & System
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
